{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class='container pt-5'>
    <div class='row'>
        <div class='col'>
            <h1>Sales Data</h1>
            <hr>
        </div>
    </div>
    {% for table in tables %}
        <div class='row'>
            <div id="tables" class="col">
                <h3 class='py-3'>{{titles[loop.index]}}</h3>
                <div class="table-responsive-xl pb-3">
                    {{ table|safe }}
                </div>
                <hr>
            </div>
        </div>
    {% endfor %}  
</div>
{% endblock content %}