{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

<div class='container'></div>
    <!-- <div class='row'>
        <div class='col'>
            <button id="dl-btn" class="btn btn-primary btn-lg btn-block">Download Data</button>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <button id="pr-btn" class="btn btn-primary btn-lg btn-block">Process Data</button>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <button id="re-btn" class="btn btn-primary btn-lg btn-block">Refresh Tables</button>
        </div>
    </div> -->
    <div class='row'>
        <div id="tables" class='col'>
            <h1>Sales Data</h1>
            {% for table in tables %}
                <h2>{{titles[loop.index]}}</h2>
                {{ table|safe }}
            {% endfor %}
        </div>
    </div>




{% endblock content %}